+++
title = "ALED"
linkTitle = "ALED"

+++

{{< blocks/cover title="Welcome to ALED: Nearly the best API that ever existed" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ApiALED">
		Our Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">"Api Lente et difficile"</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
ALED provide the best C++ API for the Epitech project named "ZIA", despite the name which is a french joke, ALED try to be fast and as simple as possible.

(However, don't think there will be more here after the end of the project, which is on March 2022)
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Think fast!" %}}
ALED is fast and simple. daily updated

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Opinions needed!" url="https://github.com/ApiALED" %}}
Your opinion is greatly needed, don't be shy to say it's shitty on **discord**
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/Softwayback" %}}
It's a joke, we don't have any twitter.
{{% /blocks/feature %}}


{{< /blocks/section >}}
